* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}
/* acceuil.css */

.pageAcceuil {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 2rem auto;
    height: 30rem;
    background-color: bisque;
}

.images1 {
    width: 25%;
    height: 30rem;
    background-image: url("/images/images1.png");
    background-size: cover;
}

.images2 {
    width: 30%;
    height: 30rem;
    background-image: url("/images/images2.png");
    background-size: cover;
}

#acceuilForm {
    width: 40%;
    height: 20em;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    text-align: center;
}

h1 {
    font-size: xx-large;
    text-align: center;
}

span {
    font-size: medium;

}

#formConnect {
    margin: 2rem auto;
    width: 60%;
    font-size: large;
}

.pseudo .password {
    padding-top: 2rem;
}
#submit {
    margin-top: 2rem;
}